<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>State City</title>
</head>
<body>
    <div>
        <table>
            <tr>
                <%-getState %>
            </tr>
            <tr id="city">
            </tr>
        </table>
    </div>
    <script src="/public/script/AJAX_Job_Application/script.js"></script>
</body>
</html>