<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ehYa</title>
    <link rel="stylesheet" href="/public/css/Ehya_Demo/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
  </head>
  <body>
    <header class="header">
      <div class="logo">
        <img src="../../public/css/Ehya_Demo/deskop/Logo.svg" alt="ehya-logo" />
      </div>
      <nav class="navbar">
        <a href="#">Home</a>
        <a href="#">Landings <i class="fa-solid fa-chevron-down"></i></a>
        <a href="#">Pages <i class="fa-solid fa-chevron-down"></i></a>
        <a href="#">Docs</a>
        <a href="#">Help</a>
        <a href="#" class="nav-btn">Get it now</a>
      </nav>
    </header>
    <section class="section1">
      <div class="container">
        <div class="s1row">
          <div class="s1col">
            <img src="../../public/css/Ehya_Demo/deskop/Hero.png" alt="Hero" />
          </div>
          <div class="s1col">
            <h1>Make your new life happier.</h1>
            <p>
              We work with servel leading insurance companies to secure
              insurance coverages tailroed to meet your needs.
            </p>
            <button>Get a consultation</button>
          </div>
        </div>
      </div>
    </section>
    <section class="section2">
      <div class="container">
        <div class="text-group">
          <p class="head">OUR SERVICES</p>
          <h2>Insurance made simple for you</h2>
          <p class="foot">
            We work with servel leading insurance companies to secure insurance
            coverages tailroed to meet your needs.
          </p>
        </div>
        <div class="rowtext">
          <div class="coltext">
            <p>
              <i class="fa-regular fa-circle-check"></i> Flexible products to
              make your life easier
            </p>
          </div>
          <div class="coltext">
            <p>
              <i class="fa-regular fa-circle-check"></i> Highest standards of
              service
            </p>
          </div>
          <div class="coltext">
            <p>
              <i class="fa-regular fa-circle-check"></i> Fast and reliable
              service
            </p>
          </div>
        </div>
        <div class="s2row">
          <div class="s2col">
            <div class="card">
              <div class="icon">
                <img src="../../public/css/Ehya_Demo/deskop/Icon_Home.svg" alt="Home" />
              </div>
              <div>
                <h3>Home insurance</h3>
                <p>
                  Home insurance is a type of insurance policythats provides
                  cover for your home.
                </p>
                <a href="#">
                  Learn more <i class="fa-solid fa-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="s2col">
            <div class="card">
              <div class="icon">
                <img src="../../public/css/Ehya_Demo/deskop/Icon_Blood_Donation.svg" alt="life" />
              </div>
              <div>
                <h3>Life insurance</h3>
                <p>
                  Helping your bridge gaps in your health care coverage during
                  times of transition.
                </p>
                <a href="#">
                  Learn more <i class="fa-solid fa-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="s2col">
            <div class="card">
              <div class="icon">
                <img src="../../public/css/Ehya_Demo/deskop/Icon_Car.svg" alt="" />
              </div>
              <div>
                <h3>Car insurance</h3>
                <p>
                  car insurance is a type of insurance policy thats provides
                  cover for your car.
                </p>
                <a href="#">
                  Learn more <i class="fa-solid fa-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section3">
      <div class="container">
        <div class="text-group">
          <p class="head">OUR TIPS FOR YOU</p>
          <h2>Reinventing your protection</h2>
          <p class="foot">
            We share common trends, strategies ideas, opinions, short & long
            stories from your team behind company.
          </p>
        </div>
        <div class="s3row">
          <div class="s3col">
            <div class="s3card">
              <img src="../../public/css/Ehya_Demo/deskop/Image.png" alt="image1" />
              <div class="text">
                <p>
                  How to prevent and protect your family from Carbon monoxide
                </p>
              </div>
            </div>
          </div>
          <div class="s3col">
            <div class="s3card">
              <img src="../../public/css/Ehya_Demo/deskop/Image2.png" alt="image2" />
              <div class="text">
                <p>Motherhood is the hardest and the best job ever</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section4">
      <div class="container">
        <div class="s4row">
          <div class="s4col">
            <p class="head">YOUR BENEFITS</p>
            <h2>We're your right insurance advocate</h2>
          </div>
          <div class="s4col">
            <div class="card">
              <div class="icon">
                <img src="../../public/css/Ehya_Demo/deskop/Donation.svg" alt="" />
              </div>
              <div>
                <h3>We have the best price</h3>
                <p>
                  Our insurance plans offers are priced the same everywhere
                  else. We just make them easier for you to find.
                </p>
              </div>
            </div>
          </div>
          <div class="s4col">
            <div class="card">
              <div class="icon">
                <img src="../../public/css/Ehya_Demo/deskop/Icon_Protection.svg" alt="" />
              </div>
              <div>
                <h3>We're your insurance advocate</h3>
                <p>
                  We will deal with the insurance companies for you, even after
                  you've bought your plan.
                </p>
              </div>
            </div>
          </div>
          <div class="s4col">
            <div class="card">
              <div class="icon">
                <img src="../../public/css/Ehya_Demo/deskop/Icon_Neutron.svg" alt="" />
              </div>
              <div>
                <h3>We're unbiased</h3>
                <p>
                  Our online tools help you decide what product is best for you.
                  We're here to insurance plan you choose.
                </p>
              </div>
            </div>
          </div>
          <div class="s4col">
            <div class="card">
              <div class="icon">
                <img src="../../public/css/Ehya_Demo/deskop/Icon_CS.svg" alt="" />
              </div>
              <div>
                <h3>We're available 24/7</h3>
                <p>
                  We have your back 24/7 between our online chat function, email
                  and telephone support.
                </p>
              </div>
            </div>
          </div>
          <div class="s4col">
            <div class="card">
              <div class="icon">
                <img src="../../public/css/Ehya_Demo/deskop/Icon_Like.svg" alt="" />
              </div>
              <div>
                <h3>We make insurance simple</h3>
                <p>
                  We're committed to making appling for insurance as simple as
                  can be for our customers.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section5">
      <div class="container">
        <div class="s5row">
          <div class="s5col">
            <div class="s5card">
              <div class="s5icon">
                <img src="../../public/css/Ehya_Demo/deskop/Avatar.png" alt="avtar" />
                <img src="../../public/css/Ehya_Demo/deskop/Avatar-1.png" alt="avtar" />
                <img src="../../public/css/Ehya_Demo/deskop/Avatar-2.png" alt="avtar" />
              </div>
              <div>
                <p><span>Friendly</span> customer support team</p>
              </div>
            </div>
          </div>
          <div class="s5col">
            <div class="s5card">
              <div class="s5icon">
                <div class="top">
                  <img src="../../public/css/Ehya_Demo/deskop/Path.svg" alt="path" />
                  <h4 class="toptext">Trustpilot</h4>
                </div>
                <div class="star">
                  <img src="../../public/css/Ehya_Demo/deskop/s.svg" alt="start" />
                  <img src="../../public/css/Ehya_Demo/deskop/s.svg" alt="start" />
                  <img src="../../public/css/Ehya_Demo/deskop/s.svg" alt="start" />
                  <img src="../../public/css/Ehya_Demo/deskop/s.svg" alt="start" />
                  <img src="../../public/css/Ehya_Demo/deskop/s.svg" alt="start" />
                </div>
              </div>
              <div>
                <p><span>4.6 out of 5 star</span>from8.6k reviews</p>
              </div>
            </div>
          </div>
          <div class="s5col">
            <div class="s5card">
              <div class="s5icon">
                <img
                  src="../../public/css/Ehya_Demo/deskop/Icon_Like.svg"
                  alt="like"
                  height="50px"
                  width="50px"
                />
              </div>
              <div>
                <p>We're making <span>insurance as simple as</span> can be</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="footer">
      <div class="footer-main">
        <div class="cmp-pf">
          <div class="img">
            <img src="../../public/css/Ehya_Demo/deskop/Logo_white.svg" alt="" />
          </div>
          <div class="info">
            <p>Build a modern and creative website with crealand</p>
          </div>
          <div class="social">
            <i class="fa-brands fa-google"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-youtube"></i>
          </div>
        </div>
        <div class="form">
          <form action="#">
            <label for="desp">Ready to get insured? Submit your request and hear back as soon
            as tomorrow</label>
            <div class="input-form">
              <input
                type="text"
                name="desp"
                class="input"
                placeholder="Your Email"
              />
              <input
                type="submit"
                name="submit"
                value="Get started"
                class="submit"
              />
            </div>
          </form>
        </div>
        <div class="copyright">
          <p>Copyright &copy; 2019. Crafted with love.</p>
        </div>
      </div>
    </footer>
  </body>
</html>
