<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Details</title>
    <link rel="stylesheet" href="/public/css/home.css">
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <style>
        .btn{
            width: 100px;
        }
    </style>
    <style>
        p{
            color: black;
            width: max-content;
        }
        h2{
            margin-top: 20px;
        }
        .list{
            margin-top: 50px;
            width: 800px;
            position: absolute;
            top: 0;
            left: 30em;
        }
        a{
            text-decoration: none;
            color: black;
        }
        a:hover{
            color: crimson;
        }
        h3{
            text-decoration: underline;
        }
        #otherTask{
            display: none;
        }
    </style>
</head>
<body>
    <div>
        <div class="details">
            <div>
                <p id="profilebtn"><i class="fa-solid fa-user"></i> Your Profile</p>
            </div>
            <div id="details">
                <div>
                    <h2>Name: <%=data.fname %> <%=data.lname %></h2>
                    <p>Email: <%=data.email %></p>
                    <p>User Name: <%=data.username %></p>   
                </div>
                <div>
                    <a href="/logout" class="btn" id="logout">LogOut</a>
                </div>
            </div>
        </div>
        <div class="list">
            <div class="subdiv"> 
                <h3>Practice work List:</h3>
                <a href="/userDetails/dynamictable">1. Dynamic Table</a>
                <a href="/userDetails/kukucube">2. KuKu Cube</a>
                <a href="/userDetails/tictactoe">3. Tic Tac Toe</a>
                <a href="/userDetails/eventpractice">4. All Event Practice</a>
                <a href="/userDetails/form">5. Express Form Practice</a>
                <a href="/userDetails/studentdata">6. Grid</a>
                <a href="/userDetails/count">7. Pagination</a>
                <a href="/userDetails/attendence">8. Attendence Record</a>
                <a href="/userDetails/examrecord">9. Exam Result</a>
                <a href="/userDetails/searching">10. Searching in table</a>
                <a href="/userDetails/delimetersearch">11. Delimeter Search</a>
                <a href="/userDetails/generate">12. Job Application CRUD</a>
                <a href="/userDetails/ajaxform">13. Job Application CRUD with AJAX</a>
            </div>
            <br>
            <p class="other" id="otherbtn">Other Task...</p>
            <div class="subdiv" id="otherTask">
                <a href="/userDetails/Ehya">1. Ehya Demo</a>
                <a href="">2. HireX Demo</a>
                <a href="">3. Awan Demo</a>
                <a href="">4. Dynamic Query Execute</a>
                <a href="">5. Generate Combos</a>
                <a href="">6. JsonPlaceholder Fetch API</a>
                <a href="">7. TimeZone Convertor</a>
            </div>
        </div>
    </div>
    <script src="/public/script/logout.js"></script>
</body>
</html> 