<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Details</title>
    <style>
        .first{
            background-color: cadetblue;
            display: flex;
            gap: 50px;
            justify-content: center;
        }
        .second{
            margin-top: 5px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            justify-content: center;
            text-align: center;
        }
        .third{
            display: flex;
            justify-content: center;
            background-color: aquamarine;
            text-align: justify;
            padding: 20px;
        }
        .btn{
            margin-top: 30px;
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
        }
        #commentsDiv{
            display: flex;
            flex-direction: column;
            background-color: aqua;
            gap: 10px;
        }
        .comment{
            padding: 10px;
            margin: 0;
            /* border-bottom: 1px solid black; */
        }
        .title{
            margin-bottom: 10px;
            font-size: 40px;
        }
    </style>
</head>
<body>
    <div id="userDetails">
    </div>
    <div id="commentsDiv">
    </div>
    <script src="/public/script/Json_Placeholder_API/detailsScript.js"></script>
</body>
</html>