<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HireX.</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <link rel="stylesheet" href="/public/css/HireX_Demo/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Ribeye&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <header class="header">
        <div class="logo">
          <img src="../../public/css/HireX_Demo/assets/HireX_black.png" alt="HireX-logo" />
        </div>
        <nav class="navbar">
          <a href="#">Works</a>
          <a href="#">About us</a>
          <a href="#">Blogs</a>
          <a href="#">FAQs</a>
          <a href="#">Contact us</a>
          <a href="#" class="hire"
            >We're Hiring <i class="fa-solid fa-arrow-right"></i
          ></a>
        </nav>
      </header>
    </div>
    <section class="section1">
      <div class="container">
        <div class="s1row">
          <div class="s1coltext">
            <div class="wel-msg">
              <p>WELCOME TO HIREX.</p>
              <img src="../../public/css/HireX_Demo/assets/Star 1.png" alt="star" />
            </div>
            <h1>Award Winning Digital Agency.</h1>
            <p class="s1desc">
              Digital Agency offering unique solutions to create digital
              presence and increase your sales.
            </p>
            <div class="mainform">
              <div class="form">
                <input
                  type="text"
                  name="text"
                  id="text"
                  placeholder="Your email address"
                  class="intxt"
                />
                <button>Request access</button>
              </div>
              <div class="tooltip">
                <p class="tool">Open account and get 5 boxes</p>
              </div>
            </div>
          </div>
          <div class="s1colcard">
            <div class="wd">
              <img src="../../public/css/HireX_Demo/assets/image 2 (Traced).png" alt="ig2" />
              <p>Web Design</p>
            </div>
            <div class="sm">
              <img src="../../public/css/HireX_Demo/assets/image 6 (Traced).png" alt="img6" />
              <p>Social Midia</p>
            </div>
            <div class="ud">
              <img src="../../public/css/HireX_Demo/assets/image 1 (Traced).png" alt="img1" />
              <p>UIX Design</p>
            </div>
            <img src="../../public/css/HireX_Demo/assets/Group 6.png" alt="NEW" class="new" />
          </div>
        </div>
      </div>
    </section>
    <div class="banner-container">
      <!-- <marquee behavior="scroll" direction=""> -->
      <div class="tran-banner">
        <div class="group-imgtxt">
          <p>GET ACCESS NOW!</p>
          <img
            src="../../public/css/HireX_Demo/assets/image-fBLQvAFN1-transformed 1.png"
            alt="trns-img"
          />
        </div>
        <div class="line">
          <img src="../../public/css/HireX_Demo/assets/Line 4.png" alt="line" />
        </div>
        <div class="group-imgtxt">
          <p>GET ACCESS NOW!</p>
          <img
            src="../../public/css/HireX_Demo/assets/image-fBLQvAFN1-transformed 1.png"
            alt="trns-img"
          />
        </div>
        <div class="line">
          <img src="../../public/css/HireX_Demo/assets/Line 4.png" alt="line" />
        </div>
        <div class="group-imgtxt">
          <p>GET ACCESS NOW!</p>
          <img
            src="../../public/css/HireX_Demo/assets/image-fBLQvAFN1-transformed 1.png"
            alt="trns-img"
          />
        </div>
        <div class="line">
          <img src="../../public/css/HireX_Demo/assets/Line 4.png" alt="line" />
        </div>
      </div>
      <!-- </marquee> -->
    </div>
    <section class="section2">
      <div class="container">
        <div class="s2textbox">
          <p class="s2head">Services</p>
          <h2>How HireX. Work</h2>
          <p class="s2text">The awesome people who makes all this possible</p>
        </div>
        <div class="s2row">
          <div class="s2col">
            <div class="s2card">
              <p class="cardhead">START HERE</p>
              <p class="cardtext">Who we are & what we do</p>
              <img
                src="../../public/css/HireX_Demo/assets/Designer _Flatline 1.png"
                alt="designer"
              />
              <button class="btn1">
                START HERE<i class="fa-solid fa-arrow-right"></i>
              </button>
            </div>
          </div>
          <div class="s2col">
            <div class="s2card">
              <p class="cardhead">COUSTOM DESIGN</p>
              <p class="cardtext">We'll design your projects</p>
              <img
                src="../../public/css/HireX_Demo/assets/Notifications_Flatline 1.png"
                alt="notification"
              />
              <button class="btn2">
                START HERE<i class="fa-solid fa-arrow-right"></i>
              </button>
            </div>
          </div>
          <div class="s2col">
            <div class="s2card">
              <p class="cardhead">CONTACT US</p>
              <p class="cardtext">Drop us your message!</p>
              <img
                src="../../public/css/HireX_Demo/assets/Fortnite_Two Color 1.png"
                alt="fortnite"
                height="230"
              />
              <button class="btn3">
                START HERE<i class="fa-solid fa-arrow-right"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section3">
      <div class="container">
        <div class="s2textbox">
          <p class="s3head">Works</p>
          <h2>Find our latetest works</h2>
          <p class="s2text">The awesome people who makes all this possible</p>
        </div>
        <div class="s3row">
          <div class="s3col">
            <div class="s3card1">
              <img src="../../public/css/HireX_Demo/assets/Rectangle 13.png" alt="png" />
              <p class="s3head">Web design</p>
              <h4>Website Design for Digital Agency</h4>
              <p class="s3desc">Build a unique Website with HireX Template</p>
              <a href="#"
                >Read more
                <img
                  src="../../public/css/HireX_Demo/assets/arrow-right-black.svg"
                  alt="arror-right"
              /></a>
            </div>
          </div>
          <div class="s3col">
            <div class="s3card">
              <img src="../../public/css/HireX_Demo/assets/Rectangle 13-1.png" alt="png" />
              <p class="s3head">3D Design</p>
              <h4>Realistic 3d model of Living Room</h4>
              <p class="s3desc">Build a unique Website with Hirex Templete</p>
              <a href="#"
                >Read more
                <img
                  src="../../public/css/HireX_Demo/assets/arrow-right-black.svg"
                  alt="arror-right"
              /></a>
              <button>
                View all
                <img
                  src="../../public/css/HireX_Demo/assets/arrow-right-black.svg"
                  alt="arror-right"
                />
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section4">
      <div class="container">
        <div class="s2textbox">
          <h2>Plans & Pricing</h2>
          <p class="s2text">The awesome people who makes all this possible</p>
        </div>
        <div class="s4row">
          <div class="s4col">
            <div class="s4card">
              <h5>FREE</h5>
              <p class="price">$0<span>/MONTH</span></p>
              <p class="crdtxt">
                Start free while you learn more about our services
              </p>
              <ul>
                <li>&#10003; Free forever get the basic essentials</li>
                <li>&#10003; Advanced security and performance</li>
                <li>&#10003; Unlimited unhosted sites</li>
                <li>&#10003; Live support</li>
              </ul>
              <button class="btn1">GET STARTED</button>
            </div>
          </div>
          <div class="s4col">
            <div class="s4card">
              <h5>BASIC</h5>
              <p class="price">$19<span>/MONTH</span></p>
              <p class="crdtxt">
                Get powerful tools to make your business grow
              </p>
              <ul>
                <li>&#10003; Free forever get the basic essentials</li>
                <li>&#10003; Advanced security and performance</li>
                <li>&#10003; Unlimited unhosted sites</li>
                <li>&#10003; Live support</li>
              </ul>
              <button class="btn2">GET STARTED</button>
            </div>
          </div>
          <div class="s4col">
            <div class="s4card">
              <h5>PRO</h5>
              <p class="price">$99<span>/MONTH</span></p>
              <p class="crdtxt">
                Take your business to the next level with our tools
              </p>
              <ul>
                <li>&#10003; Free forever get the basic essentials</li>
                <li>&#10003; Advanced security and performance</li>
                <li>&#10003; Unlimited unhosted sites</li>
                <li>&#10003; Live support</li>
              </ul>
              <button class="btn3">GET STARTED</button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section5">
      <div class="container">
        <div class="s5card">
          <img
            src="../../public/css/HireX_Demo/assets/arrow-left-2.png"
            alt="left"
            class="left"
          />
          <img
            src="../../public/css/HireX_Demo/assets/testimonials-img.png"
            alt="testmonials"
            class="s5img"
          />
          <div class="profile-name">
            <p>@mase.place</p>
            <div class="arrow">
              <img
                src="../../public/css/HireX_Demo/assets/arrow_top-right.png"
                alt="topright"
              />
            </div>
          </div>
          <div class="s5text">
            <h4>
              "We select to practicce in Minerva since it is both useful, and
              our clients basically adore it! It has stood the best of time and
              proceeds"
            </h4>
            <p>
              Abel Carden is a TikTok personality and lip-sync content creator
              who has built a banbase of more than 3.2 million followers on the
              plateform.
            </p>
          </div>
          <img src="../../public/css/HireX_Demo/assets/arrow-right-2.png" alt="right" />
        </div>
      </div>
    </section>
    <section class="section6">
      <div class="container">
        <div class="s6textbox">
          <p class="s3head">Blog</p>
          <h2>Stay updated</h2>
        </div>
        <div class="s3row">
          <div class="s3col">
            <div class="s3card">
              <img
                src="../../public/css/HireX_Demo/assets/Rectangle 19.png"
                alt="png"
                class="s6img"
              />
              <p class="s3head">Web design</p>
              <h4>We Launch Minerva Template this Week!</h4>
              <p class="s3desc">Build a unique Website with HireX Template</p>
              <a href="#"
                >Read more
                <img
                  src="../../public/css/HireX_Demo/assets/arrow-right-black.svg"
                  alt="arror-right"
              /></a>
            </div>
          </div>
          <div class="s3col">
            <div class="s3card">
              <img
                src="../../public/css/HireX_Demo/assets/Rectangle 20.png"
                alt="png"
                class="s6img"
              />
              <p class="s3head">Web design</p>
              <h4>Introduction the Non-Code Webflow Guide</h4>
              <p class="s3desc">Build a unique Website with Hirex Templete</p>
              <a href="#"
                >Read more
                <img
                  src="../../public/css/HireX_Demo/assets/arrow-right-black.svg"
                  alt="arror-right"
              /></a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section7">
      <div class="container">
        <div class="s7row">
          <div class="s7col">
            <div class="s7card">
              <h3>Get our latest news &updates</h3>
              <div class="inputtxt">
                <input type="text" name="name" id="name" placeholder="NAME" />
                <input type="text" name="name" id="email" placeholder="EMAIL" />
                <button>
                  SUBSCRIBE
                  <img
                    src="../../public/css/HireX_Demo/assets/arrow-right-black.svg"
                    alt=""
                  />
                </button>
              </div>
            </div>
          </div>
          <div class="s7col">
            <div class="s7card2">
              <p>
                We select to practice in Minerva since it is both useful and
                commonsense, and our clients basically adore it
              </p>
              <a href="#">Book a Call</a>
            </div>
          </div>
        </div>
      </div>
      <div class="banner-container">
        <!-- <marquee behavior="" direction=""> -->
        <div class="tran-banner">
          <div class="group-imgtxt">
            <p style="color: white">THANK YOU FOR YOUR VISIT</p>
            <div class="line">
              <img src="../../public/css/HireX_Demo/assets/Line 4.png" alt="line" />
            </div>
          </div>
          <div class="group-imgtxt">
            <p style="color: white">THANK YOU FOR YOUR VISIT</p>
            <div class="line">
              <img src="../../public/css/HireX_Demo/assets/Group 59.png" alt="line" />
            </div>
          </div>
          <div class="group-imgtxt">
            <p style="color: white">THANK YOU FOR YOUR VISIT</p>
            <div class="line">
              <img src="../../public/css/HireX_Demo/assets/Line 4.png" alt="line" />
            </div>
          </div>
        </div>
        <!-- </marquee> -->
      </div>
    </section>
    <footer class="footer">
      <div class="container">
        <div class="image">
          <img src="../../public/css/HireX_Demo/assets/HireX_black.png" alt="hireX" />
        </div>
        <div class="details">
          <div class="products">
            <p>Products</p>
            <ul class="list">
              <li>Platform</li>
              <li>Store Overview</li>
              <li>Email Reports</li>
              <li>Portfolio</li>
            </ul>
          </div>
          <div class="resources">
            <p>Resources</p>
            <ul class="list">
              <li>Case Studies</li>
              <li>Product Guides</li>
              <li>Reports</li>
              <li>Blog</li>
              <li>FAQ</li>
            </ul>
          </div>
          <div class="company">
            <p>Company</p>
            <ul class="list">
              <li>Careers</li>
              <li>Contact Sales</li>
              <li>Contact Support</li>
            </ul>
          </div>
          <div class="partners">
            <p>Partners</p>
            <ul>
              <li>Partner With Us</li>
            </ul>
          </div>
        </div>
        <div class="foot">
          <p>Term and Conditions Privacy policy</p>
          <p>&copy; HIREX, Inc. 2022</p>
        </div>
      </div>
    </footer>
  </body>
</html>
