<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Awan Hoster</title>
    <link rel="stylesheet" href="/public/css/Awan_Demo/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
  </head>
  <body>
    <div class="mainheader">
        <header class="header">
          <div class="logo">
            <img src="../../public/css/Awan_Demo/assets/Group 3478.png" alt="cmp-logo" height="45px" width="250px"/>
          </div>
          <nav class="navbar">
            <a href="#">Hosting</a>
            <a href="#">Integration</a>
            <a href="#">Pricing</a>
            <a href="#">Community</a>
            <a href="#" class="log">Login</a>
          </nav>
        </header>
    </div>
    <section class="section1">
        <div class="container">
            <div class="s1row">
                <div class="s1col">
                    <h1>
                        Hosting Service for Your Website
                    </h1>
                    <p>Easily and reliable host a website for your business, organization, or project while retaining complete control over your site's underlying infrastructure.</p>
                    <button class="start">Get Started</button>
                    <button class="migrate">Get Migration Help</button>
                </div>
                <div class="s1col">
                    <div class="s1card">
                        <img src="../../public/css/Awan_Demo/assets/portrait-confident-bearded-man-using-laptop-computer 1.png" alt="s1image">
                    </div>
                </div>
            </div>
            <div class="arrow">
                <img src="../../public/css/Awan_Demo/assets/arrow-down.png" alt="down-arrow">
            </div>
        </div>
    </section>
    <section class="section2">
        <div class="container">
            <div class="s2row">
                <div class="s2col">
                    <div class="s2textcard"><p>Those Who Have Experienced The Best Performence</p></div>
                </div>
                <div class="s2col">
                    <div class="s2imgcardtel">
                        <img src="../../public/css/Awan_Demo/assets/Telkom Indonesia Logo.png" alt="telkom-logo">
                    </div>
                </div>
                <div class="s2col">
                    <div class="s2imgcard">
                        <img src="../../public/css/Awan_Demo/assets/Jetstar Airways Logo.png" alt="jetstar-logo">
                    </div>
                </div>
                <div class="s2col">
                    <div class="s2imgcard">
                        <img src="../../public/css/Awan_Demo/assets/Nescafe Logo.png" alt="nescafe-logo">
                    </div>
                </div>
                <div class="s2col">
                    <div class="s2imgcard">
                        <img src="../../public/css/Awan_Demo/assets/Lenovo Logo.png" alt="lenovo-logo">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section3">
        <div class="container">
            <div class="s3row">
                <div class="s3col">
                    <div class="s3card">
                        <img src="../../public/css/Awan_Demo/assets/Group 3552.png" alt="boost-img" width="540px">
                    </div>
                </div>
                <div class="s3col">
                    <h2>Boost the Speed of Your Website</h2>
                    <div class="s3subrow">
                        <div class="s3subcol">
                            <div class="s3subcard">
                                <h3>Faster Build Process</h3>
                                <p>We can speed up the process of creating your website</p>
                            </div>
                        </div>
                        <div class="s3subcol">
                            <div class="s3subcard">
                                <h3>Faster Delivery</h3>
                                <p>Our purchases and services can be completed quickly</p>
                            </div>
                        </div>
                        <div class="s3subcol">
                            <div class="s3subcard">
                                <h3>Faster Access Speed</h3>
                                <p>Superb network infrastructure and hardware to support fast and stable access</p>
                            </div>
                        </div>
                        <div class="s3subcol">
                            <div class="s3subcard">
                                <h3>24/7 Faster Service</h3>
                                <p>We have a response time of less than180 seconds, avaliable 24 hours a day</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section4">
        <div class="container">
            <div class="textbox">
                <p>Host Any Website With Our Fully Managed Services</p>
            </div>
            <div class="s4row">
                <div class="s4col">
                    <div class="s4card">
                        <div class="subcard">
                            <div class="head">
                                <img src="../../public/css/Awan_Demo/assets/cloud-sunny.png" alt="cloud" width="40" height="40">
                                <p>Cloud Hosting</p>
                            </div>
                            <p class="desc">Cloud Hosting is good fit for those of you who are building personal websites, portfolios, blogs and other systems</p>
                        </div>
                        <p class="price">$5.9<span>/month</span></p>
                        <div class="btn">
                            <button>More Detail</button>
                        </div>
                    </div>
                </div>
                <div class="s4col">
                    <div class="s4card">
                        <div class="subcard">
                            <div class="head">
                                <img src="../../public/css/Awan_Demo/assets/buildings.png" alt="buildings" width="40" height="40">
                                <p>Corporate</p>
                            </div>
                            <p class="desc">Provides business-related hosting services, such as websites or management systems for companies</p>
                        </div>
                        <p class="price">$19<span>/month</span></p>
                        <div class="btn">
                            <button>More Detail</button>
                        </div>
                    </div>
                </div>
                <div class="s4col">
                    <div class="s4card">
                        <div class="subcard">
                            <div class="head">
                                <img src="../../public/css/Awan_Demo/assets/driver.png" alt="driver" width="40" height="40">
                                <p>Cloud VPS</p>
                            </div>
                            <p class="desc">A Scalable, full-managed virtual private server we build and optimize specifically for your website.</p>
                        </div>
                        <p class="price">$29<span>/month</span></p>
                        <div class="btn">
                            <button>More Detail</button>
                        </div>
                    </div>
                </div>
                <div class="s4col">
                    <div class="s4card">
                        <div class="subcard">
                            <div class="head">
                                <img src="../../public/css/Awan_Demo/assets/monitor-mobbile.png" alt="mobile-monitor" width="40" height="40">
                                <p>Dedicated</p>
                            </div>
                            <p class="desc">Your mission-critical website requires the performance and security of a dedicated physical server.</p>
                        </div>
                        <p class="price">$119<span>/month</span></p>
                        <div class="btn">
                            <button>More Detail</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section5">
        <div class="container">
            <div class="s5row">
                <div class="s5colbar">
                    <div class="s5cardbar">
                        <div class="wordprass" id="wp">
                            <div class="bar">
                                <img src="../../public/css/Awan_Demo/assets/WordPress.com Logo.png" alt="wordprass">
                                <p>WordPress</p>
                            </div>
                        </div>
                        <div class="magento" id="m">
                            <div class="bar">
                                <i class="fa-brands fa-magento"></i>
                                <p>Magento</p>
                            </div>
                        </div>
                        <div class="Laravel" id="l">
                            <div class="bar">
                                <i class="fa-brands fa-laravel"></i>
                                <p>Laravel</p>
                            </div>
                        </div>
                        <div class="PHP" id="p">
                            <div class="bar">
                                <i class="fa-brands fa-php"></i>
                                <p>PHP</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="s5coldesc" id="desc">
                    <div class="s5textbox">
                        <h3>The Best Managed Cloud Hosting for WordPress</h3>
                        <p>We live and breathe WordPress. Our managed hosting for WordPress and WooCommerce takes away cloud server related hassles so you can scale your website the way you want.</p>
                    </div>
                    <div class="descrow">
                        <div class="desccol">
                            <div class="desccard">
                                <img src="../../public/css/Awan_Demo/assets/Vector.png" alt="right" height="20" width="20">
                                <p>Unlimited Bandwidth</p>
                            </div>
                        </div>
                        <div class="desccol">
                            <div class="desccard">
                                <img src="../../public/css/Awan_Demo/assets/Vector.png" alt="right" height="20" width="20">
                                <p>Network Speed</p>
                            </div>
                        </div>
                        <div class="desccol">
                            <div class="desccard">
                                <img src="../../public/css/Awan_Demo/assets/Vector.png" alt="right" height="20" width="20">
                                <p>Turbo Power</p>
                            </div>
                        </div>
                        <div class="desccol">
                            <div class="desccard">
                                <img src="../../public/css/Awan_Demo/assets/Vector.png" alt="right" height="20" width="20">
                                <p>Xtreme Freedom</p>
                            </div>
                        </div>
                    </div>
                    <button>More Detail</button>
                </div>
            </div>
        </div>
    </section>
    <section class="section6">
        <div class="container">
            <div class="s6textbox">
                <p>How Our Customers Feel About Us</p>
                <div class="s6arrow">
                    <img src="../../public/css/Awan_Demo/assets/arrow-right.png" alt="left-arrow" class="left">
                    <img src="../../public/css/Awan_Demo/assets/arrow-right.png" alt="right-arrow" class="right">
                </div>
            </div>
            <div class="scroll-container">
                <div class="s6row">
                    <div class="s6col">
                            <div class="s6card">
                                <img src="../../public/css/Awan_Demo/assets/profile.png" alt="profile">
                                <div class="star">
                                    <img src="../../public/css/Awan_Demo/assets/Star 2.png" alt="star">
                                    <img src="../../public/css/Awan_Demo/assets/Star 2.png" alt="star">
                                    <img src="../../public/css/Awan_Demo/assets/Star 2.png" alt="star">
                                    <img src="../../public/css/Awan_Demo/assets/Star 2.png" alt="star">
                                    <img src="../../public/css/Awan_Demo/assets/Star 2.png" alt="star">
                                </div>
                                <p class="msg">Thanks to the Awan Hostar, I was guided step-by-step until it was finished.</p>
                                <p class="name">Guy Hawkins</p>
                                <p class="role">Manager</p>
                            </div>
                    </div>
                    <div class="s6col">
                            <div class="s6card">
                                <img src="../../public/css/Awan_Demo/assets/profile.png" alt="profile">
                                <div class="star">
                                    <img src="../../public/css/Awan_Demo/assets/Star 2.png" alt="star">
                                    <img src="../../public/css/Awan_Demo/assets/Star 2.png" alt="star">
                                    <img src="../../public/css/Awan_Demo/assets/Star 2.png" alt="star">
                                    <img src="../../public/css/Awan_Demo/assets/Star 2.png" alt="star">
                                    <img src="../../public/css/Awan_Demo/assets/Star 2.png" alt="star">
                                </div>
                                <p class="msg">Thanks to the Awan Hostar, I was guided step-by-step until it was finished.</p>
                                <p class="name">Guy Hawkins</p>
                                <p class="role">Manager</p>
                            </div>
                    </div>
                    <div class="s6col">
                            <div class="s6card">
                                <img src="../../public/css/Awan_Demo/assets/profile.png" alt="profile">
                                <div class="star">
                                    <img src="../../public/css/Awan_Demo/assets/Star 2.png" alt="star">
                                    <img src="../../public/css/Awan_Demo/assets/Star 2.png" alt="star">
                                    <img src="../../public/css/Awan_Demo/assets/Star 2.png" alt="star">
                                    <img src="../../public/css/Awan_Demo/assets/Star 2.png" alt="star">
                                    <img src="../../public/css/Awan_Demo/assets/Star 2.png" alt="star">
                                </div>
                                <p class="msg">Thanks to the Awan Hostar, I was guided step-by-step until it was finished.</p>
                                <p class="name">Guy Hawkins</p>
                                <p class="role">Manager</p>
                            </div>
                    </div>
                    <div class="s6col">
                            <div class="s6card">
                                <img src="../../public/css/Awan_Demo/assets/profile.png" alt="profile">
                                <div class="star">
                                    <img src="../../public/css/Awan_Demo/assets/Star 2.png" alt="star">
                                    <img src="../../public/css/Awan_Demo/assets/Star 2.png" alt="star">
                                    <img src="../../public/css/Awan_Demo/assets/Star 2.png" alt="star">
                                    <img src="../../public/css/Awan_Demo/assets/Star 2.png" alt="star">
                                    <img src="../../public/css/Awan_Demo/assets/Star 2.png" alt="star">
                                </div>
                                <p class="msg">Thanks to the Awan Hostar, I was guided step-by-step until it was finished.</p>
                                <p class="name">Guy Hawkins</p>
                                <p class="role">Manager</p>
                            </div>
                    </div>
                    <div class="s6col">
                            <div class="s6card">
                                <img src="../../public/css/Awan_Demo/assets/profile.png" alt="profile">
                                <div class="star">
                                    <img src="../../public/css/Awan_Demo/assets/Star 2.png" alt="star">
                                    <img src="../../public/css/Awan_Demo/assets/Star 2.png" alt="star">
                                    <img src="../../public/css/Awan_Demo/assets/Star 2.png" alt="star">
                                    <img src="../../public/css/Awan_Demo/assets/Star 2.png" alt="star">
                                    <img src="../../public/css/Awan_Demo/assets/Star 2.png" alt="star">
                                </div>
                                <p class="msg">Thanks to the Awan Hostar, I was guided step-by-step until it was finished.</p>
                                <p class="name">Guy Hawkins</p>
                                <p class="role">Manager</p>
                            </div>
                    </div>
                    <div class="s6col">
                            <div class="s6card">
                                <img src="../../public/css/Awan_Demo/assets/profile.png" alt="profile">
                                <div class="star">
                                    <img src="../../public/css/Awan_Demo/assets/Star 2.png" alt="star">
                                    <img src="../../public/css/Awan_Demo/assets/Star 2.png" alt="star">
                                    <img src="../../public/css/Awan_Demo/assets/Star 2.png" alt="star">
                                    <img src="../../public/css/Awan_Demo/assets/Star 2.png" alt="star">
                                    <img src="../../public/css/Awan_Demo/assets/Star 2.png" alt="star">
                                </div>
                                <p class="msg">Thanks to the Awan Hostar, I was guided step-by-step until it was finished.</p>
                                <p class="name">Guy Hawkins</p>
                                <p class="role">Manager</p>
                            </div>
                    </div>
                    <div class="s6col">
                            <div class="s6card">
                                <img src="../../public/css/Awan_Demo/assets/profile.png" alt="profile">
                                <div class="star">
                                    <img src="../../public/css/Awan_Demo/assets/Star 2.png" alt="star">
                                    <img src="../../public/css/Awan_Demo/assets/Star 2.png" alt="star">
                                    <img src="../../public/css/Awan_Demo/assets/Star 2.png" alt="star">
                                    <img src="../../public/css/Awan_Demo/assets/Star 2.png" alt="star">
                                    <img src="../../public/css/Awan_Demo/assets/Star 2.png" alt="star">
                                </div>
                                <p class="msg">Thanks to the Awan Hostar, I was guided step-by-step until it was finished.</p>
                                <p class="name">Guy Hawkins</p>
                                <p class="role">Manager</p>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section7">
        <div class="container">
            <div class="s1row">
                <div class="s1col">
                    <p class="heading">Try It Now and Stop Doubting Anything Else</p>
                    <p class="subhead">With Awan Hoster's Money Back Guarantee, you can try the best service reliability</p>
                    <button class="trial"> Start Free Trial</button>
                    <button class="plans">See All Plans</button>
                </div>
                <div class="s1col">
                    <div class="s1card">
                        <img src="../../public/css/Awan_Demo/assets/Group 1000008788.png" alt="group image">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="container">
            <div class="footrow">
                <div class="cmp-pf">
                    <div class="card">
                        <img src="../../public/css/Awan_Demo/assets/logo-white.png" alt="cmp-logo">
                        <p>We provide you with the best hosting solution for your website.</p>
                        <div class="social">
                            <i class="fa-brands fa-facebook-f"></i>
                            <i class="fa-brands fa-twitter"></i>
                            <i class="fa-brands fa-instagram"></i>
                            <i class="fa-brands fa-youtube"></i>
                            <i class="fa-brands fa-discord"></i>
                        </div>
                    </div>
                </div>
                <div class="about">
                    <div class="content">
                        <div class="company">
                            <p>Company</p>
                            <p class="list">About</p>
                            <p class="list">Blog</p>
                            <p class="list">Leadership</p>
                            <p class="list">Careers</p>
                            <p class="list">Legal</p>
                        </div>
                        <div class="Product">
                            <p>Products</p>
                            <p class="list">API</p>
                            <p class="list">Pricing</p>
                            <p class="list">Documentation</p>
                            <p class="list">Release Notes</p>
                        </div>
                        <div class="Contact">
                            <p>Contact</p>
                            <p class="list">Support</p>
                            <p class="list">Sales</p>
                            <p class="list">Report Abuse</p>
                            <p class="list">System Status</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="../../public/script/Awan_Demo/script.js"></script>
  </body>
</html>
