.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    border: 1px solid #ccc;
    background-color: cornflowerblue;
    box-shadow: 2px 2px 5px gray;
    cursor: pointer;
    vertical-align: middle;
    max-width: 500px;
    padding: 5px 12px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    text-decoration: none;
    border-radius: 5px;
    width: 300px;
    height: 35px;
    text-align: center;
    font-size: 20px;
}
.btn:active{
    color: aliceblue;
    box-shadow: 0 0 0;
}

.msg{
    color: red;
    font-size: 10px;
    margin: 0;
}

#err{
    color: red;
    font-size: 12px;
    margin: 0;
    text-align: center;
}