<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/public/css/Registration_Login/style.css">
    <link rel="stylesheet" href="/public/css/Registration_Login/home.css">
</head>
<body>
    <div class="container">
        <div class="card">
            <h1>Raj Koradiya - 24DEV063</h1>
            <h3>Welcome...</h3>
            <p>If you want to see some additional things about our work then first register your self. &#128519</p>
            <div class="btndiv">
                <a href="/register" class="homebtn">Registration</a>
                <a href="/login" class="homebtn">Login</a>
            </div>
        </div>
    </div>
</body>
</html>