<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Page</title>
    <link rel="stylesheet" href="/public/css/Registration_Login/style.css">
    <link rel="stylesheet" href="/public/css/Registration_Login/register.css">
    <style>
        .card{
            height: 350px;
        }
        p{
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="card">
            <div>
                <p>
                    <%=message %>
                </p>
            </div>
            <a href="<%=href %>" class="btn"><%=btn %></a>
        </div>
    </div>
</body>
</html>